#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            // -------------------------------------
            //       |     Z     |     M     |
            // |     A     |     B     |     C     |
            bindings = <
                &kp C_VOLUME_DOWN    &kp C_VOLUME_UP
                &kp C_PREVIOUS    &kp C_PLAY_PAUSE    &kp C_NEXT
            >;
        };
    };
 };